<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.learntech.rights">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".BroadcastReceiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="in.learntech.rights" />
            </intent-filter>
        </receiver>
        <service android:name=".BroadcastReceiver.GcmIntentService" />
        <receiver android:name=".BroadcastReceiver.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyAchievements"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_my_achievements"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyTrainings"
            android:configChanges="orientation|screenSize"
            android:label="MyTrainings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UserTrainingActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".NotesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_notes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChangePasswordActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NotesEditor"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_notes_editor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".messages.MessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="Messageactivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".messages.MessageChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="MessageChatActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UpdateProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_update_profile" />
        <activity android:name=".WebActivity"></activity>
    </application>

</manifest>